
h1,h2,h3,h4{
	margin-top: 0;
}

.padding{
	padding:50px 0;
}
.padding-bottom{
	padding-bottom: 30px;
}
.grey-section{
    background: #eee;
}
/*-----Header style--*/
.navbar {
    margin-bottom: 0px;
}
.navbar-brand {
    padding: 0 15px;
}
.navbar-brand>img {
    display: block;
    width: 150px;
}
/*-----slider area style--*/
.slider-area .item img {
    max-height: 550px;
}
/*-----service area style--*/
.single-service .icon span {
    background: #6b6969;
    padding: 20px;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}

/*---about us area style---*/
.single-progreass-bar .progress {
    height: 15px;
}

/*---portfolio area style---*/
.portfolio-menu {
  text-align: center;
  margin-bottom: 20px;
}
.portfolio-menu ul {
  list-style: none;
}
.portfolio-menu ul li {
  display: inline-block;
  padding: 10px;
  background: #eee;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
}
.single-portfolio img {
    height: 250px;

}
.single-portfolio{
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  left: -100%;
  top: 0;
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  padding-top: 50%;
  text-align: center;
}
.portfolio-overlay a {
    background: #fff;
    padding: 12px;
    border-radius: 50%;
    color: #333;
    font-size: 16px;
    margin-top: -20px;
    display: inline-block;
}
.single-portfolio:hover .portfolio-overlay{
    left:0;
    transition: all 0.6s ease-in;
}
/*---Contact area style---*/
.map-section iframe {
    border: none;
    width: 100%;
    height: 450px;
}